// form

.form__box {
  margin: 20px 0;
}

.form__checkbox {
  margin-left: -1.25rem;
  margin-top: .25rem;
  position: absolute;
}

.form__submit {
  margin: 10px 30px;
}

.form__right {
  text-align: right;
}
