// general

// body
.navbar_padding_body {
  padding-bottom: 1.5rem;
  padding-top: 4.5rem;
}

// typography
h1 {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
